<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choose_stage_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{960,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,600}}</string>
                <key>sourceSize</key>
                <string>{960,600}</string>
            </dict>
            <key>choose_stage_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{960,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,600}}</string>
                <key>sourceSize</key>
                <string>{960,600}</string>
            </dict>
            <key>choose_stage_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,600}}</string>
                <key>sourceSize</key>
                <string>{960,600}</string>
            </dict>
            <key>page_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,31},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>page_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>stage_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>stage_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1919},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>stage_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1919},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choose_stage.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2281c006142a42f429a94c869cef5df7$</string>
            <key>textureFileName</key>
            <string>choose_stage.png</string>
        </dict>
    </dict>
</plist>
